h1 {
  text-align: center;
  padding-top: 3%;
  font-family: "Jost", sans-serif;
}
.takkForStemme {
  padding: 100px;
}
h3 {
  text-align: center;
  padding: 2%;
  font-family: "Jost", sans-serif;
  margin: 0;
}

p {
  text-align: center;
  padding-top: 1%;
}
.resultat {
  border: solid;
  border-radius: 5px;
  margin: 5% 40%;
  border-color: transparent;

  justify-content: center;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
